.hero {
  padding: 64px 0 100px;
  background-image: url(../images/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .container {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__text {
    margin: 64px 0 100px;
    font-size: 40px;
    line-height: 56px;
    font-weight: bold;
    text-align: center;
  }

  &__logo {
    margin: 0 auto;
    height: 80px;
    display: block;
  }

  @media (max-width: 640px) {
    padding: 40px 0;

    &__logo {
      height: 40px;
    }

    &__text {
      font-size: 22px;
      margin: 24px 0;
      line-height: 24px;
    }
  }
}
