@use "hero";
@use "variables";
@use "event";
@use "components/infos_bar";
@use "components/buttons";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: variables.$mainColor;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 640px) {
    .container {
      max-width: 80%;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 90%;
    }
  }
}
